<%= form_for(@workout) do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :private %>
    <%= f.check_box :private %>
  </div>
    <table class="exercises">
    <tbody>
    <% @workout.exercises.each do |exercise| %>
      <tr>
        <td><img src="/arrow.jpg" style="width: 25px; height: 25px"></td>
        <td><%= select_tag "exercise[][cat]", options_for_select( ["Exercise", "Rest"], exercise.cat ) %></td>
        <td><%= text_field_tag 'exercise[][name]', exercise.name %></td>
        <td><%= number_field_tag 'exercise[][dur][minutes]', exercise.dur/60, {size: 5, min: 0} %></td>
        <td><%= number_field_tag 'exercise[][dur][seconds]', exercise.dur%60, {size: 5, min: 0, max: 59} %></td>
      </tr>
    <% end %>
      <tr class="new_exercise hidden">
        <td><img src="/arrow.jpg" style="width: 25px; height: 25px"></td>
        <td><%= select_tag "exercise[][cat]", options_for_select( ["Exercise", "Rest"] ) %></td>
        <td><%= text_field_tag 'exercise[][name]', nil, {placeholder: "Exercise Name"} %></td>
        <td><%= number_field_tag 'exercise[][dur][minutes]', 0, {size: 5, min: 0} %></td>
        <td><%= number_field_tag 'exercise[][dur][seconds]', 0, {size: 5, min: 0, max: 59} %></td>
      </tr>
    </tbody>
    </table>
    <%= button_tag "Add Exercise", id: "add_exercise", type: "button" %>
    <%= f.submit %>
<% end %>
<script>
  $("#add_exercise").bind("click", function(e) {
    var exer = $("tr.new_exercise").clone().removeClass("hidden new_exercise");
    $(".new_exercise").before(exer);
  });
  $(document).on("change", "#exercise__cat", function() {
    if ($(this).val() == "Rest") {
      $(this).parent().next("td").find("input").prop("readOnly", true).val("Rest");
    } else {
      $(this).parent().next("td").find("input").prop("readOnly", false).val("");
    }
  });
  $(".exercises tbody").sortable();
</script>
<style>
  .hidden {
    display: none;
  }
  input[type="number"] {
    width:50px;
  }
</style>
