<%= form_for(@workout) do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <% if user_signed_in? %>
  <div class="field">
    <%= f.label :private %>
    <%= f.check_box :private %>
  </div>
  <% end %>
    <div class="exercises">
      <div class="form-inline row">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></span>
            <%= select_tag "exercise[][cat]", options_for_select( ["Exercise", "Rest"] ), class: "form-control" %>
          </div>
          <div class="input-group">
          <%= text_field_tag 'exercise[][name]', nil, {placeholder: "Exercise Name", class: "form-control"} %>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Minutes:</span>
            <%= number_field_tag 'exercise[][dur][minutes]', 0, {size: 5, min: 0, class: "form-control"} %>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Seconds:</span>
            <%= number_field_tag 'exercise[][dur][seconds]', 0, {size: 5, min: 0, max: 59, class: "form-control"} %>
          </div>
        </div>
      </div>
    </div>
    <%= button_tag "Add Exercise", id: "add_exercise", class: "btn btn-default btn-sm", type: "button" %>
    <%= f.submit class: "btn btn-default btn-sm" %>
<% end %>
<div class="form-inline new_exercise hidden row">
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></span>
      <%= select_tag "exercise[][cat]", options_for_select( ["Exercise", "Rest"] ), class: "form-control" %>
    </div>
    <div class="input-group">
    <%= text_field_tag 'exercise[][name]', nil, {placeholder: "Exercise Name", class: "form-control"} %>
    </div>
    <div class="input-group">
      <span class="input-group-addon">Minutes:</span>
      <%= number_field_tag 'exercise[][dur][minutes]', 0, {size: 5, min: 0, class: "form-control"} %>
    </div>
    <div class="input-group">
      <span class="input-group-addon">Seconds:</span>
      <%= number_field_tag 'exercise[][dur][seconds]', 0, {size: 5, min: 0, max: 59, class: "form-control"} %>
    </div>
  </div>
</div>
<script>
  $("#add_exercise").bind("click", function(e) {
    var exer = $(".new_exercise").clone().removeClass("hidden new_exercise");
    $(".exercises").append(exer);
  });
  $(document).on("change", "#exercise__cat", function() {
    if ($(this).val() == "Rest") {
      $(this).parent().next("div").find("input").prop("readOnly", true).val("Rest");
    } else {
      $(this).parent().next("div").find("input").prop("readOnly", false).val("");
    }
  });
  $(".exercises").sortable();
</script>
<style>
  .hidden {
    display: none;
  }
  input[type="number"] {
    width:50px;
  }
</style>
