<%= form_for(@workout, html: {class: "workout-form", role: "form"}) do |f| %>
  <div class="alert alert-danger fade in" style="display: none;">
    <button type="button" class="close" aria-hidden="true">&times;</button>
    <p class="alert-msg"></p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="input-group">
        <span class="input-group-addon">Workout Name</span>
        <%= f.text_field :name, class: "form-control workout-name" %>
      </div>
    </div>
  </div>
  <br />
    <div class="exercises">
      <% @workout.exercises.each do |exercise| %>
      <div class="form-inline row exercise">
        <div class="col-md-9">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></span>
            <%= select_tag "exercise[][cat]", options_for_select( ["Exercise", "Rest"], exercise.cat ), class: "form-control exercise-cat" %>
          </div>
          <div class="input-group">
          <%= text_field_tag 'exercise[][name]', nil, {placeholder: "Exercise Name", class: "form-control exercise-name", value: exercise.name, readonly: (exercise.name == "Rest")} %>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Minutes:</span>
            <%= number_field_tag 'exercise[][dur][minutes]', 0, {size: 5, min: 0, class: "form-control dur-minutes", value: ((0 if exercise.dur == nil) ||(exercise.dur / 60))} %>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Seconds:</span>
            <%= number_field_tag 'exercise[][dur][seconds]', 0, {size: 5, min: 0, max: 59, class: "form-control dur-seconds", value: ((0 if exercise.dur == nil) || (exercise.dur % 60))} %>
          </div>
          <div class="remove-exercise input-group"><button class="button btn-danger btn-sm" type="button"><span class="glyphicon glyphicon-remove"></span></button></div>
        </div>
        </div>
      </div>
      <% end %>
    </div>
    <br />
    <div class="row">
      <div class="col-md-2">
        <%= button_tag "Add Exercise", class: "add-exercise btn btn-default btn-sm btn-block", type: "button" %>
      </div>
      <div class="col-md-2">
        <%= button_tag "Save Workout", class: "btn btn-default btn-sm btn-block submit-workout", type: "button" %>
      </div>
    </div>
<% end %>
<div class="form-inline new_exercise hidden row">
  <div class="col-md-9">
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></span>
      <%= select_tag "exercise[][cat]", options_for_select( ["Exercise", "Rest"] ), class: "form-control" %>
    </div>
    <div class="input-group">
    <%= text_field_tag 'exercise[][name]', nil, {placeholder: "Exercise Name", class: "form-control exercise-name"} %>
    </div>
    <div class="input-group">
      <span class="input-group-addon">Minutes:</span>
      <%= number_field_tag 'exercise[][dur][minutes]', 0, {size: 5, min: 0, class: "form-control dur-minutes"} %>
    </div>
    <div class="input-group">
      <span class="input-group-addon">Seconds:</span>
      <%= number_field_tag 'exercise[][dur][seconds]', 0, {size: 5, min: 0, max: 59, class: "form-control dur-seconds"} %>
    </div>
    <div class="remove-exercise input-group"><button class="button btn-danger btn-sm" type="button"><span class="glyphicon glyphicon-remove"></span></button></div>
  </div>
  </div>
</div>
<style>
  input[type="number"] {
    width:50px;
  }
</style>
