<div class="container">
  <h1><%= @workout.name %></h1>
  <br />
  <div class="list-group">
  <% @workout.exercises.each do |exercise| %>
    <div class="row padding-left">
      <div class="list-group-item col-md-4 <%="#{exercise.cat.downcase}-list"%>"><%= exercise.name %></div>
      <div class="list-group-item col-md-2 <%="#{exercise.cat.downcase}-list"%>"><%= exercise.len %></div>
    </div>
  <% end %>
  </div>
  </br>
  <div class="row">
    <div class="col-md-2">
      <%= link_to "Play this workout", play_workout_path(@workout), class: "btn btn-default btn-block btn-sm dark" %>
    </div>
    <div class="col-md-2">
      <%= link_to 'Edit', edit_workout_path(@workout), class: "btn btn-default btn-block btn-sm dark" %>
    </div>
  </div>
</div>
