<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to "My Workouts", "/users/#{current_user.id}/workouts" %></li>
  <li><%= link_to "New Workout", new_workout_path %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
  <li><%= link_to "New Workout", new_workout_path %></li>
<% end %>
